@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.bg-custom-100 {
    --tw-bg-opacity: 1;
    background-color: rgba(72, 82, 107, var(--tw-bg-opacity));
}

.bg-custom-200 {
    --tw-bg-opacity: 1;
    background-color: rgba(65, 70, 86, var(--tw-bg-opacity));
}

.bg-custom-300 {
    --tw-bg-opacity: 1;
    background-color: rgba(118, 106, 141, var(--tw-bg-opacity));
}

.bg-custom-400 {
    --tw-bg-opacity: 1;
    background-color: rgba(145, 117, 155, var(--tw-bg-opacity));
}

.bg-custom-500 {
    --tw-bg-opacity: 1;
    background-color: rgba(174, 128, 166, var(--tw-bg-opacity));
}

.bg-custom-600 {
    --tw-bg-opacity: 1;
    background-color: rgba(161, 171, 199, var(--tw-bg-opacity));
}

.bg-custom-700 {
    --tw-bg-opacity: 1;
    background-color: rgba(215, 163, 26, var(--tw-bg-opacity));
}

.bg-custom-800 {
    --tw-bg-opacity: 1;
    background-color: rgba(195, 199, 207, var(--tw-bg-opacity));
}

.bg-custom-900 {
    --tw-bg-opacity: 1;
    background-color: rgba(152, 172, 207, var(--tw-bg-opacity));
}

.bg-custom-ailensweeper {
    --tw-bg-opacity: 1;
    background-color: #262038;
}

.color-custom-ailensweeper-dark {
    --tw-bg-opacity: 1;
    color: #990077;
}

.color-custom-ailensweeper-shine {
    --tw-bg-opacity: 1;
    color: #cc0077;
}

.border-custom-100 {
    --tw-border-opacity: 1;
    border-color: rgba(62, 71, 86, var(--tw-border-opacity));
}

.font-custom {
    font-family: 'Open Sans', sans-serif;
}

.shadow-custom-1 {
    box-shadow: -1px -1px 2px 3px #303030;
}

.bg-separador-1 {
    background-image: url('../public/images/separador_1.png');
    background-size: contain;
}

.bg-separador-2 {
    background-image: url('../public/images/separador_2.png');
    background-size: contain;
}

.bg-separador-3 {
    background-image: url('../public/images/separador_3.png');
    background-size: contain;
}